DOMAINNAME=
HOSTNAME=localhost:9979
LDAP_HOST=host.docker.internal
LDAP_PORT=7389
LDAP_BASE_DN=dc=univention-organization,dc=intranet
LDAP_HOST_DN=cn=admin,dc=univention-organization,dc=intranet
TLS_MODE=off

# UDM REST API
DEBUG_LEVEL=2
AUTHORIZED_DOMAIN_ADMINS="cn=Domain Admins,cn=groups,dc=univention-organization,dc=intranet"

# Paths to TLS certificates and LDAP secrets
# CA_CERT_FILE=/run/secrets/ca_cert
# LDAP_SECRET_FILE=/run/secrets/ldap_secret
# MACHINE_SECRET_FILE=/run/secrets/machine_secret
MACHINE_SECRET=univention
