---
# See: https://git.knut.univention.de/univention/ucs/-/blob/5.0-3/management/univention-ldap/10univention-ldap-server.inst#L254
action: "create"
module: "users/user"
position: "cn=users,{{ ldap_base }}"
properties:
  username: "Administrator"
  lastname: "Administrator"
  password: univention
  primaryGroup: "cn=Domain Admins,cn=groups,{{ ldap_base }}"
---
# See: https://git.knut.univention.de/univention/ucs/-/blob/5.0-3/management/univention-ldap/10univention-ldap-server.inst#L265
action: ensure_list_contains
module: groups/group
position: cn=Domain Users,cn=groups,{{ ldap_base }}
properties:
  users:
    - "uid=Administrator,cn=users,{{ ldap_base }}"
