# Source: https://git.knut.univention.de/univention/ucs/-/blob/5.0-4/management/univention-management-console-module-udm/35univention-management-console-module-udm.inst
---
action: create
module: settings/umc_operationset
position: "cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
properties:
  name: "udm-all"
  description: "UDM - All operations"
  flavor: ""
  hosts: []
  objectFlag: []
  operation:
    - command: "udm/*"
      option: ""
---
action: create
module: settings/umc_operationset
position: "cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
properties:
  name: "udm-users"
  description: "UDM - Users"
  flavor: "users/user"
  hosts: []
  objectFlag: []
  operation:
    - command: "udm/*"
      option: "objectType=users/user"
    - command: "udm/*"
      option: "!objectType"
    - command: "udm/query"
      option: "objectType=groups/group"
    - command: "udm/properties"
      option: "objectType=groups/group"
    - command: "udm/values"
      option: "objectType=groups/group"
    - command: "udm/properties"
      option: "objectType=policies/*"
    - command: "udm/layout"
      option: "objectType=policies/*"
    - command: "udm/query"
      option: "objectType=policies/*"
---
action: create
module: settings/umc_operationset
position: "cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
properties:
  name: "udm-groups"
  description: "UDM - Groups"
  flavor: "groups/group"
  hosts: []
  objectFlag: []
  operation:
    - command: "udm/*"
      option: "objectType=groups/group"
    - command: "udm/*"
      option: "!objectType"
    - command: "udm/query"
      option: "objectType=users/user"
    - command: "udm/properties"
      option: "objectType=users/user"
    - command: "udm/values"
      option: "objectType=users/user"
    - command: "udm/query"
      option: "objectType=computers/*"
    - command: "udm/properties"
      option: "objectType=computers/*"
    - command: "udm/values"
      option: "objectType=computers/*"
    - command: "udm/properties"
      option: "objectType=policies/*"
    - command: "udm/layout"
      option: "objectType=policies/*"
    - command: "udm/query"
      option: "objectType=policies/*"
---
action: create
module: settings/umc_operationset
position: "cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
properties:
  name: "udm-policies"
  description: "UDM - Policies"
  flavor: "policies/policy"
  hosts: []
  objectFlag: []
  operation:
    - command: "udm/*"
      option: "objectType=policies/*"
    - command: "udm/*"
      option: "!objectType"
    - command: "udm/properties"
      option: "objectType=policies/*"
    - command: "udm/layout"
      option: "objectType=policies/*"
    - command: "udm/query"
      option: "objectType=policies/*"
---
action: create
module: settings/umc_operationset
position: "cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
properties:
  name: "udm-navigation"
  description: "UDM - Navigation"
  flavor: "navigation"
  hosts: []
  objectFlag: []
  operation:
    - command: "udm/nav/*"
      option: ""
---
action: create
module: settings/umc_operationset
position: "cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
properties:
  name: "udm-portal"
  description: "UDM - Portal settings"
  flavor: "settings/portal_all"
  hosts: []
  objectFlag: []
  operation:
    - command: "udm/*"
      option: "objectType=settings/portal*"
    - command: "udm/types"
      option: ""
    - command: "udm/get"
      option: ""
    - command: "udm/put"
      option: ""
    - command: "udm/properties"
      option: ""
    - command: "udm/values"
      option: ""
---
action: create
module: settings/umc_operationset
position: "cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
properties:
  name: "udm-syntax"
  description: "UDM - Syntax"
  flavor: ""
  hosts: []
  objectFlag: []
  operation:
    - command: "udm/syntax/choices/info"
      option: ""
    - command: "udm/syntax/choices"
      option: ""
---
action: create
module: settings/umc_operationset
position: "cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
properties:
  name: "udm-validate"
  description: "UDM - Validate"
  flavor: ""
  hosts: []
  objectFlag: []
  operation:
    - command: "udm/validate"
      option: ""
---
action: create
module: settings/umc_operationset
position: "cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
properties:
  name: "udm-reports"
  description: "UDM - Reports"
  flavor: ""
  hosts: []
  objectFlag: []
  operation:
    - command: "udm/reports/query"
      option: ""
    - command: "udm/reports/create"
      option: ""
    - command: "udm/reports/get"
      option: ""
---
action: create
module: settings/umc_operationset
position: "cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
properties:
  name: "udm-usertemplates"
  description: "UDM - Apply User Templates"
  flavor: "settings/usertemplate"
  hosts: []
  objectFlag: []
  operation:
    - command: "udm/get"
      option: ""
---
action: ensure_list_contains
module: policies/umc
position: "cn=default-umc-all,cn=UMC,cn=policies,{{ ldap_base }}"
properties:
  allow:
    - "cn=udm-all,cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
---
action: create
module: policies/umc
position: cn=UMC,cn=policies,{{ ldap_base }}
properties:
  name: default-udm-self
---
action: ensure_list_contains
module: policies/umc
position: "cn=default-udm-self,cn=UMC,cn=policies,{{ ldap_base }}"
properties:
  allow:
    - "cn=udm-self,cn=operations,cn=UMC,cn=univention,{{ ldap_base }}"
