DOMAINNAME=
HOSTNAME=localhost:9979
LDAP_HOST={{ ansible_fqdn }}
LDAP_PORT=7389
LDAP_BASE_DN={{ ldap_base_dn.stdout }}
LDAP_HOST_DN={{ ldap_host_dn.stdout }}
TLS_REQCERT=never

# UDM REST API
DEBUG_LEVEL=2
AUTHORIZED_DOMAIN_ADMINS="cn=Domain Admins,cn=groups,{{ ldap_base_dn.stdout }}"

# Paths to TLS certificates and LDAP secrets
# CA_CERT_FILE=/run/secrets/ca_cert
# LDAP_SECRET_FILE=/run/secrets/ldap_secret
MACHINE_SECRET_FILE=/run/secrets/machine_secret
# MACHINE_SECRET=univention
